<div>
    <oj-toolbar>
        <oj-c-input-text 
            placeholder="Ingrese el número de expediente"
            class="oj-form-control-max-width-md"
            label-edge="none">
            <oj-c-button 
                slot="end"
                display="icons"
                size="sm"
                chroming="borderless">
                Buscar
                <span slot="endIcon" class="oj-ux-ico-search"></span>
            </oj-c-button>
            <oj-c-button 
                slot="end"
                display="icons"
                size="sm"
                chroming="borderless"
                on-oj-action="[[popSearchAdv]]">
                Búsqueda Avanzada
                <span slot="endIcon" class="oj-ux-ico-filter-search"></span>
            </oj-c-button>
        </oj-c-input-text>
    </oj-toolbar>

    <oj-table 
        class="app-table demo-table-container" 
        columns="[[columns]]"
        data="[[dp]]"
        display="grid"
        selection-mode.row="single"
        columns-default.sortable="disabled">
        <template slot="noData">No hay expendientes.</template>
        <template slot="estatusTemplate" data-oj-as="cell">
            <span class="oj-badge oj-badge-success">
            <oj-bind-text value="Digitalizado"></oj-bind-text>
            </span>
        </template>
        <template slot="actionTemplate" data-oj-as="cell">
            <oj-menu-button
                chroming="borderless"
                class="oj-button-sm"
                display="icons"
                data-oj-clickthrough="disabled">
                Action
                <oj-menu slot="menu" on-oj-menu-action="[[menuListener]]">
                    <oj-option value="view_document">
                        <span class="oj-ux-ico-view" slot="startIcon"></span>
                        Ver documento
                    </oj-option>
                    <oj-option value="edit_document">
                        <span class="oj-ux-ico-add-edit-page" slot="startIcon"></span>
                        Reemplazar documento
                    </oj-option>
                    <oj-option value="return_document">
                        <span class="oj-ux-ico-document-withdraw" slot="startIcon"></span>
                        Regresar a Oficialía
                    </oj-option>
                </oj-menu>
            </oj-menu-button>
        </template>
    </oj-table>
</div>


<oj-dialog 
    id="dlg-digitalizacion" 
    dialog-title="Selección de archivo para expediente: 4F7B9K2M1R8T6QW"  
    class="oj-md-width-3/4">
    <div slot="body" class="oj-sm-margin-4x-top">
        <oj-form-layout
            columns="2"
            user-assistance-density="compact"
            class="oj-formlayout-full-width">
            <oj-c-select-single
                label-hint="Tipo documento"
                item-text="label"
                required>
            </oj-c-select-single>
        </oj-form-layout>
        <oj-file-picker
            class="file-picker"
            on-oj-select="[[selectListener]]"
            on-oj-invalid-select="[[invalidListener]]"
            on-oj-before-select="[[beforeSelectListener]]"
            primary-text="Arraste/Seleccione un archivo"
            secondary-text="Tamaño máximo del archivo: 25MB">
        </oj-file-picker>
    </div>
    <div slot="footer">
        <oj-toolbar>
            <oj-c-button
                id="btn-digitalizacion" 
                label="Cancelar"
                chroming="outlined"
                on-oj-action="[[closeDialog]]">
            </oj-c-button>
            <oj-c-button 
                label="Guardar"
                chroming="callToAction"
                on-oj-action="[[closeDialog]]">
            </oj-c-button>
        </oj-toolbar>
    </div>
</oj-dialog>

<oj-dialog
    id="dlg-actualizarDoc" 
    dialog-title="Actualizar estatus digitalización">
    <div slot="body">
        <oj-form-layout
            columns="1"
            user-assistance-density="compact"
            class="oj-formlayout-full-width">
            <oj-c-select-single
                label-hint=""
                item-text="label"
                required>
            </oj-c-select-single>
        </oj-form-layout>
    </div>
    <div slor="footer">
        <oj-toolbar>
            <oj-c-button
                id="btn-actualizarDoc" 
                label="Cancelar"
                chroming="outlined"
                on-oj-action="[[closeDialog]]">
            </oj-c-button>
            <oj-c-button 
                label="Guardar"
                chroming="callToAction">
            </oj-c-button>
        </oj-toolbar>
    </div>
</oj-dialog>

<oj-dialog 
    id="dlg-motivoDevolucion"
    dialog-title="Motivo de devolución">
    <div slot="body">
        <oj-form-layout
            columns="1"
            user-assistance-density="compact"
            class="oj-formlayout-full-width">
            <oj-c-text-area
                label-hint="Motivo"
                value=""
                rows="5">
            </oj-c-text-area>
        </oj-form-layout>
    </div>
    <div slot="footer">
        <oj-toolbar>
            <oj-c-button
                id="btn-motivoDevolucion" 
                label="Cancelar"
                chroming="outlined"
                on-oj-action="[[closeDialog]]">
            </oj-c-button>
            <oj-c-button 
                label="Guardar"
                chroming="callToAction">
            </oj-c-button>
        </oj-toolbar>
    </div>
</oj-dialog>


<oj-popup id="pop-searchAdv" class="k-popup-sm">
    <div class="k-popup-body-sm">
        <oj-form-layout 
            columns="1"
            user-assistance-density="compact"
            class="oj-formlayout-full-width">
            <oj-c-select-single
                label-hint="Tipo proceso"
                item-text="label"
                required>
            </oj-c-select-single>
            <oj-c-select-single
                label-hint="Tipo documento"
                item-text="label"
                required>
            </oj-c-select-single>
        </oj-form-layout>
    </div>
    <div class="right-down">
        <oj-toolbar>
            <oj-c-button
                id="btn-searchAdv" 
                label="Cancelar"
                chroming="outlined"
                on-oj-action="[[closeDialog]]">
            </oj-c-button>
            <oj-c-button 
                label="Buscar"
                chroming="callToAction">
            </oj-c-button>
        </oj-toolbar>
    </div>
</oj-popup>
