<div>
    <oj-collapsible expanded>
        <span 
            class="oj-typography-body-lg oj-typography-semi-bold" 
            slot="header">
            Dependencias
        </span>
        <oj-toolbar>
            <oj-c-button 
                label="Nuevo"
                chroming="callToAction"
                display="[[smScreen() ? 'icons' : 'all']]"
                on-oj-action="[[onNewDependencia]]">
                <span slot="startIcon">
                    <i class="oj-ux-ico-plus"></i>
                </span>
            </oj-c-button>
            <oj-c-button 
                label="Editar"
                chroming="outlined"
                display="[[smScreen() ? 'icons' : 'all']]"
                on-oj-action="[[onEditDependencia]]">
                <span slot="startIcon" class="btn-edit">
                    <i class="oj-ux-ico-edit-box"></i>
                </span>
            </oj-c-button>
            <oj-c-input-text 
                placeholder="Ingrese el nombre de la dependencia"
                class="oj-form-control-max-width-md"
                label-edge="none">
                <oj-c-button 
                    slot="end"
                    display="icons"
                    size="sm"
                    chroming="borderless">
                    Buscar
                    <span slot="endIcon" class="oj-ux-ico-search"></span>
                </oj-c-button>
                <oj-c-button 
                    slot="end"
                    display="icons"
                    size="sm"
                    chroming="borderless"
                    on-oj-action="[[popSearchAdv]]">
                    Búsqueda Avanzada
                    <span slot="endIcon" class="oj-ux-ico-filter-search"></span>
                </oj-c-button>
            </oj-c-input-text>
        </oj-toolbar>
        <oj-table 
            class="app-table demo-table-container" 
            columns="[[columns]]"
            data="[[dependenciasDP]]"
            display="grid"
            selected="{{selectedDependencia}}"
            selection-mode.row="single"
            columns-default.sortable="disabled">
            <template slot="noData"></template>
        </oj-table>
    </oj-collapsible>
    
    <oj-collapsible expanded>
        <span 
            class="oj-typography-body-lg oj-typography-semi-bold" 
            slot="header">
            Áreas
        </span>
        <oj-toolbar>
            <oj-c-button 
                label="Nuevo"
                chroming="callToAction"
                display="[[smScreen() ? 'icons' : 'all']]"
                on-oj-action="[[onNewArea]]">
                <span slot="startIcon">
                    <i class="oj-ux-ico-plus"></i>
                </span>
            </oj-c-button>
            <oj-c-button 
                label="Editar"
                chroming="outlined"
                display="[[smScreen() ? 'icons' : 'all']]"
                on-oj-action="[[onEditArea]]">
                <span slot="startIcon" class="btn-edit">
                    <i class="oj-ux-ico-edit-box"></i>
                </span>
            </oj-c-button>
            <oj-c-input-text 
            placeholder="Ingrese el nombre del área"
            class="oj-form-control-max-width-md"
            label-edge="none">
            <oj-c-button 
                slot="end"
                display="icons"
                size="sm"
                chroming="borderless">
                Buscar
                <span slot="endIcon" class="oj-ux-ico-search"></span>
            </oj-c-button>
            <oj-c-button 
                slot="end"
                display="icons"
                size="sm"
                chroming="borderless"
                on-oj-action="[[popSearchAdv]]">
                Búsqueda Avanzada
                <span slot="endIcon" class="oj-ux-ico-filter-search"></span>
            </oj-c-button>
        </oj-c-input-text>
        </oj-toolbar>
        <oj-table 
            class="app-table demo-table-container" 
            columns="[[columns]]"
            data="[[areasDP]]"
            display="grid"
            selected="{{selectedArea}}"
            selection-mode.row="single"
            columns-default.sortable="disabled">
            <template slot="noData"></template>
        </oj-table>
    </oj-collapsible>
    
    
    <oj-dialog
        id="dlg-configDep" 
        dialog-title="[[dialogTitle]]">
        <div slot="body">
            <oj-validation-group id="tracker">
                <oj-form-layout
                    columns="1"
                    user-assistance-density="compact"
                    class="oj-formlayout-full-width">
                    <oj-c-input-text
                        label-hint="Clave"
                        value="{{dependencia.clave}}"
                        required>
                    </oj-c-input-text>
                    <oj-c-input-text
                        label-hint="Nombre"
                        value="{{dependencia.nombre}}"
                        required>
                    </oj-c-input-text>
                    <oj-switch
                        label-hint="Estatus"
                        value="{{dependencia.estatus}}">
                    </oj-switch>
                </oj-form-layout>
            </oj-validation-group>
        </div>
        <div slot="footer">
            <oj-toolbar>
                <oj-c-button
                    id="btn-configDep" 
                    label="Cancelar"
                    chroming="outlined"
                    on-oj-action="[[closeDialog]]">
                </oj-c-button>
                <oj-c-button 
                    label="Guardar"
                    chroming="callToAction">
                </oj-c-button>
            </oj-toolbar>
        </div>
    </oj-dialog>
    
    
    <oj-dialog
        id="dlg-configArea" 
        dialog-title="[[dialogTitle]]">
        <div slot="body">
            <oj-validation-group id="tracker">
                <oj-form-layout
                    columns="1"
                    user-assistance-density="compact"
                    class="oj-formlayout-full-width">
                    <oj-c-input-text
                        label-hint="Clave"
                        value="{{area.clave}}"
                        required>
                    </oj-c-input-text>
                    <oj-c-input-text
                        label-hint="Nombre"
                        value="{{area.nombre}}"
                        required>
                    </oj-c-input-text>
                    <oj-switch
                        label-hint="Estatus"
                        value="{{area.estatus}}">
                    </oj-switch>
                </oj-form-layout>
            </oj-validation-group>
        </div>
        <div slot="footer">
            <oj-toolbar>
                <oj-c-button
                    id="btn-configArea" 
                    label="Cancelar"
                    chroming="outlined"
                    on-oj-action="[[closeDialog]]">
                </oj-c-button>
                <oj-c-button 
                    label="Guardar"
                    chroming="callToAction">
                </oj-c-button>
            </oj-toolbar>
        </div>
    </oj-dialog>

    <oj-popup id="pop-searchAdv" class="k-popup-sm">
        <div class="k-popup-body-sm">
            <oj-form-layout 
                class="oj-formlayout-full-width"
                user-assistance-density="compact"
                columns="1">
                <oj-switch
                    label-hint="Usuarios activos">
                </oj-switch>
                <oj-c-input-text
                    label-hint="Correo">
                </oj-c-input-text>
                <oj-c-input-text
                    label-hint="Fecha creación">
                </oj-c-input-text>
            </oj-form-layout>
        </div>
        <div class="right-down">
            <oj-toolbar>
                <oj-c-button
                    id="btn-searchAdv" 
                    label="Cancelar"
                    chroming="outlined"
                    on-oj-action="[[closeDialog]]">
                </oj-c-button>
                <oj-c-button 
                    label="Buscar"
                    chroming="callToAction">
                </oj-c-button>
            </oj-toolbar>
        </div>
    </oj-popup>
</div>

