<div>
    <oj-collapsible expanded>
        <span 
            class="oj-typography-body-lg oj-typography-semi-bold" 
            slot="header">
            Estados
        </span>
        <oj-table 
            class="app-table"
            display="grid"
            edit-mode="rowEdit"
            data="[[dataProvider]]"
            columns-default.sortable="disabled"
            layout="fixed"
            columns="[[columns]]"
            selection-mode.row="multiple"
            selection-mode.column="none"
            selected="{{selectedItems}}"
            on-selected-changed="[[selectedChangedListener]]">
            <template slot="estatusTemplate" data-oj-as="cell">
                <span class="oj-badge oj-badge-success oj-badge-subtle">
                <oj-bind-text value="Activo"></oj-bind-text>
                </span>
            </template>
        </oj-table>
    </oj-collapsible>
    
    <oj-collapsible expanded>
        <span 
            class="oj-typography-body-lg oj-typography-semi-bold" 
            slot="header">
            Municipios
        </span>
        <oj-table 
            class="app-table"
            display="grid"
            edit-mode="rowEdit"
            data="[[dataProviderMunicipios]]"
            columns-default.sortable="disabled"
            layout="fixed"
            columns="[[columns]]"
            selection-mode.row="multiple"
            selection-mode.column="none"
            selected="{{selectedItems}}"
            on-selected-changed="[[selectedChangedListener]]">
            <template slot="estatusTemplate" data-oj-as="cell">
                <span class="oj-badge oj-badge-success oj-badge-subtle">
                <oj-bind-text value="Activo"></oj-bind-text>
                </span>
            </template>
        </oj-table>
    </oj-collapsible>
</div>